* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 900px;
}

.grid {
    display: grid;
    justify-content: center;
    grid-row-gap: 10px;
}

.form_note {
    font-size: 16px;
    color: #dedede;
    background-color: #121212;
    border: 1px solid #323232;
    min-height: 100px;
    resize: none;
}

.button {
    font-size: 24px;
    color: #fff;
    background-color: #303030;
    border: 1px solid #444444;
    border-radius: 5px;
    cursor: pointer;
    line-height: 34px;
    padding: 0px 15px;
    justify-self: start;
}

/* Hover */
.button:hover {
    background-color: #464646;
}

.form_btn input[type=radio] {
    display: none;
}

.form_btn {
    display: inline-block;
    margin-bottom: 5px;
}
.form_btn input[type=checkbox] {
    display: none;
}
.form_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #444444;
    background-color: #303030;
    user-select: none;
    border-radius: 20px;
}

/* Checked */
.form_btn input[type=checkbox]:checked + label {
    background-color: #fff;
    color: #000;
}
.form_btn input[type=radio]:checked + label {
    background-color: #fff;
    color: #000;
}
 
/* Hover */
.form_btn label:hover {
    background-color: #464646;
}

.label {
    font-size: 24px;
}

.input_value {
    color: #dedede;
    background-color: #121212;
    border: 1px solid #323232;
    height: 24px;
    width: 175px;
}

.select {
    color: #dedede;
    background-color: #121212;
    border: 1px solid #323232;
    height: 28px;
    width: 175px;
    font-size: 16px;
}

/* Такое нельзя использовать :) */
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}